<!DOCTYPE html>
<html lang="en">

	<head>
		<meta name="viewport"
		      content="width=device-width, initial-scale=1">

		<title>{{.Name}}</title>

		<link rel="stylesheet" type="text/css"
			href="/{{.AssetsDir}}/css/demo.css">

	</head>

	<body>
		
		<div id="mainDiv">
			<p id="title">Demo: Off-Grid Garden Watering System</p>
			<div id="innerDiv">
				<div id="uiDiv">
					<iframe id="child"></iframe>
					<input type="button" value="Show State"
						id="stateBtn" onclick="state()"></input>
				</div>
				<div id="logGardenDiv">
					<div id="gardenDiv">
						<img src="{{.AssetsDir}}/images/garden.png">
					</div>
					<div id="logDiv">
						<textarea id="log" rows=12 cols=80 readonly></textarea>
						<p id="messageLog">Message Log</p>
					</div>
				</div>
			</div>
		</div>

		<script src="/{{.AssetsDir}}/js/demo.js"></script>
		<script>Run({{.WebSocket}})</script>

	</body>

</html>
