<!DOCTYPE html>
<html lang="en">
	<head>

		<meta name="viewport"
		      content="width=device-width, initial-scale=1">

		<title>{{.Name}}</title>

		<link rel="stylesheet" type="text/css"
			href="/{{.AssetsDir}}/css/garden.css">

	</head>

	<body style="background-color:lightblue">

		<div>
			<input type="time" id="startTime" onchange="changeStartTime()">
		</div>

		<div>
			<input type="checkbox" id="day0" onclick="changeDay(this, 0)">
			<label for="day0">Sunday</label>
		</div>
		<div>
			<input type="checkbox" id="day1" onclick="changeDay(this, 1)">
			<label for="day0">Monday</label>
		</div>
		<div>
			<input type="checkbox" id="day2" onclick="changeDay(this, 2)">
			<label for="day0">Tuesday</label>
		</div>
		<div>
			<input type="checkbox" id="day3" onclick="changeDay(this, 3)">
			<label for="day0">Wednesday</label>
		</div>
		<div>
			<input type="checkbox" id="day4" onclick="changeDay(this, 4)">
			<label for="day0">Thursday</label>
		</div>
		<div>
			<input type="checkbox" id="day5" onclick="changeDay(this, 5)">
			<label for="day0">Friday</label>
		</div>
		<div>
			<input type="checkbox" id="day6" onclick="changeDay(this, 6)">
			<label for="day0">Saturday</label>
		</div>

		<div id="progress">
			<div id="bar"></div>
		</div>

		<div>
			<button id="start" onclick="start()">Start</button>
			<button id="stop" onclick="stop()">Stop</button>
		</div>

		<div id="gallons">0</div>

		<script src="/{{.AssetsDir}}/js/garden.js"></script>
		<script>Run({{.WebSocket}})</script>

	</body>
</html>

